# Ignore python cache and virtual environment
**/.snnenv/
**/.venv
**/cache/
**/__pycache__/

# Ignore BRAM initialization files
**/design_sources/data

# Ignore the Vivado project directory
vivado/

# Ignore dataset files
python/data/

# Drawio
*.bkp