# Ignore python cache and virtual environment
**/.snnenv/
**/.venv
**/cache/
**/__pycache__/

# Ignore BRAM initialization files
**/design_sources/data

# Ignore actual vivado project
vivado/fenrir

# Ignore dataset files
python/data/

# Drawio
*.bkp